<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%load static %}
    <link rel="stylesheet" href="{% static 'books/css/styles.css' %}">
    <title>Books</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="name">
          <h1>Welcome {{user.first_name}}!</h1>
        </div>
        <div class="navigation">
          <a href="{% url 'books:add' %}">Add Book and Review</a><a href="{% url 'users:signout' %}">Logout</a>
        </div>
      </header>
      <div class="titles">
        <h3>Recent Book Reviews</h3>
        <h3 class="others">Other Books with Reviews</h3>
      </div>

      <div class="recentReviews">

        {% for  review in reviews %}
        <div class="review">
          <h4><a href="{% url 'books:book' id=review.book.id %}">{{review.book.title}}</a></h4>
          <p>Rating: {{review.rating}}</p>
          <p><a href="{% url 'books:user' id=review.user.id %}">{{review.user.first_name}}</a> says: {{review.content}}</p>
          <p>{{review.created_at}}</p>
        </div>
        {% endfor %}

      </div> <!-- End recentReviews -->

      <div class="otherReviews">
        {% for  review in all_reviews %}
        <a href="{{review.book.id}}">{{review.book.title}}</a>
        {% endfor %}

      </div>

    </div> <!-- End Container -->

  </body>
</html>
